# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
.venv/

# Pipenv, Poetry
Pipfile.lock
poetry.lock

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Logs
*.log

# Environment variables
.env
.env.*

# Build artifacts
build/
dist/
*.egg-info/

# SQLite databases
*.sqlite3
*.db
